**/Makefile.in
**/Makefile
.*~
.*swp
config.h
config.log
**/.deps
autom4te.cache/
autoscan.log
aclocal.m4
config.h.in
config.h.in~
config.status
**/tags
configure
ar-lib
compile
depcomp
install-sh
missing
test-driver
ylwrap
stamp-h1
